
.App {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif
}

.TitleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchBar input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    /*makes the input text not pushed all the way to the left*/
    padding-left: 10px;
}

#searchButton {
    width: 180px;
    height: 30px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
}

/* to make the linear gradient background not repeat */
html {
    min-height: 100%
}
    
body {
    background-image: linear-gradient(#e66465, #9198e5);
    margin: 0%;
    padding: 0%;
}

.card {
    margin: 5px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #FFCB05;
    border-width: 10px;
    font-size: 0.5em;
    padding: 20px;

}

.card img {
    width: 200px;
    /*centering image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card h1 {
    font-size: 3em;
    text-align: center;
}

/* li {
    display: inline;
} */
.abilities {
    display: inline-block;
    width:100px;
    vertical-align: text-top;
}

.baseStats {
    display: inline-block;
    width:100px;
    vertical-align: text-top;
}